body.login {
       background: #f99557;
}

.login #nav a, .login #backtoblog a {
      color: #222!important;
      font-size: 2em;
      font-family: 'league_gothicregular', 'League Gothic', sans-serif;
}

.login h1 a {
      background-color: blue;
      background-size: 310px 62px;
      width: 300px;
      height: 62px;
      padding: 0 0 15px 26px;
}

.login form {
       background: rgba(120,70,30,.25);
}

.login label {
       color: #fff;
       font-size: 16px;
       text-shadow: 0 1px #666;
}